{{ ansible_managed | comment }}

{% if keycloak_quarkus_logrotate_enabled %}
quarkus.log.file.rotation.max-file-size={{ keycloak_quarkus_logrotate_max_size }}
quarkus.log.file.rotation.max-backup-index={{ keycloak_quarkus_logrotate_keep }}
quarkus.log.file.rotation.file-suffix=.yyyy-MM-dd
quarkus.log.file.rotation.rotate-on-boot=true
{% endif %}
