{{ ansible_managed | comment }}

# Basic settings for running in production. Change accordingly before deploying the server.

{% if keycloak_features | length > 0 %}
features={{ keycloak_features | join(',') }}
{% endif %}
{% if keycloak_features_disabled | length > 0 %}
features-disabled={{ keycloak_features_disabled | join(',') }}
{% endif %}

# Database

# The database vendor.
db={{ keycloak_db }}

# The username of the database user.
db-username={{ keycloak_db_user }}

# The password of the database user.
db-password={{ keycloak_db_pass }}

{% if keycloak_db_url is defined %}
# The full database JDBC URL. If not provided, a default URL is set based on the selected database vendor.
db-url={{ keycloak_db_url }}
{% endif %}

{% if keycloak_db_transaction_xa_enabled is defined %}
# Manually override the transaction type.  Required for some DB setups not supporting XA
# (distributed transactions controlled by the client), such as Galera.
transaction-xa-enabled={{ keycloak_db_transaction_xa_enabled | ternary('true', 'false') }}
{% endif %}

# Observability

# If the server should expose healthcheck endpoints.
health-enabled={{ keycloak_health_enabled | ternary('true', 'false') }}

# If the server should expose metrics endpoints.
metrics-enabled={{ keycloak_metrics_enabled | ternary('true', 'false') }}

# HTTP

# The file path to a server certificate or certificate chain in PEM format.
#https-certificate-file=${kc.home.dir}conf/server.crt.pem

# Bind to these ports locally - this is where the reverse proxy connects to
{% if keycloak_http_enabled %}
http-enabled=true
http-host={{ keycloak_http_host }}
http-port={{ keycloak_http_port }}
{% else %}
http-enabled=false
https-port={{ keycloak_https_port }}
{% endif %}

# The file path to a private key in PEM format.
#https-certificate-key-file=${kc.home.dir}conf/server.key.pem

# The proxy address forwarding mode if the server is behind a reverse proxy.
proxy={{ keycloak_proxy }}
hostname-strict-https={{ keycloak_hostname_strict_https | ternary('true', 'false') }}

# Do not attach route to cookies and rely on the session affinity capabilities from reverse proxy
#spi-sticky-session-encoder-infinispan-should-attach-route=false

{% if not keycloak_hostname_strict %}
# Derive hostname from HTTP Host header, instead of forcing it.
hostname-strict=false
{% else %}
# Hostname for the Keycloak server - this is in front of the reverse proxy.
hostname={{ keycloak_hostname }}
{% if keycloak_hostname_port is defined %}
# Only set hostname-port for non-default ports.  Otherwise Keycloak doesn't work as expected due to
# cross-orign boundaries. (keycloak.example.org is not considered the same as keycloak.example.org:443)
hostname-port={{ keycloak_hostname_port }}
{% endif %}
{% endif %}

# Static prefix for all URLs. Set to /auth for backward compat with JBoss Keycloak
http-relative-path={{ keycloak_http_relative_path }}

# clustering
{% if keycloak_stack == 'local' %}
cache=local
{% else %}
cache=ispn
cache-config-file=cache-ispn.xml
{% endif %}

{% if not keycloak_theme_cache %}
# disable theme caching
spi-theme-static-max-age=-1
spi-theme-cache-themes=false
spi-theme-cache-templates=false
{% endif %}

{% if not keycloak_user_cache %}
# disable user caching
spi-user-cache-default-enabled=false
{% endif %}

# customize log levels
log={{ keycloak_log_destinations }}
log-file={{ keycloak_log_file }}
log-level={{ keycloak_log_level }}

{% for spi_id, providers in keycloak_spi.items() %}
{% for provider_id, properties in providers.items() %}
{% if provider_id == 'provider' %}
spi-{{ spi_id }}-provider={{ properties }}
{% else %}
{% for property, value in properties.items() %}
spi-{{ spi_id }}-{{ provider_id }}-{{ property }}={{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
